streamlit 
google-generativeai 
python-dotenv 
opencv-python
opencv-python-headless

# standards_dir = "D:\Canspirit\project6\Datasets\building_standards"
# examples_dir = "D:\Canspirit\project6\Datasets\examples" 
